<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e1629e">  <td>17/11/13 22:57:49</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Unit3_Testcase.beforeClass()[pri:0, instance:webdriver.Unit3_Testcase@50cbc42f]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1577213552</td>   <td></td> </tr>
<tr bgcolor="e1629e">  <td>17/11/13 22:57:57</td>   <td>8351</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Unit3_Testcase.TC01_LoginWithEmptyInfo()[pri:0, instance:webdriver.Unit3_Testcase@50cbc42f]">TC01_LoginWithEmptyInfo</td> 
  <td>main@1577213552</td>   <td></td> </tr>
<tr bgcolor="e1629e">  <td>17/11/13 22:58:06</td>   <td>16964</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Unit3_Testcase.TC02_LoginWithEmailInvalid()[pri:0, instance:webdriver.Unit3_Testcase@50cbc42f]">TC02_LoginWithEmailInvalid</td> 
  <td>main@1577213552</td>   <td></td> </tr>
<tr bgcolor="e1629e">  <td>17/11/13 22:58:06</td>   <td>16966</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Unit3_Testcase.TC03_LoginWithPassInvalid()[pri:0, instance:webdriver.Unit3_Testcase@50cbc42f]">TC03_LoginWithPassInvalid</td> 
  <td>main@1577213552</td>   <td></td> </tr>
<tr bgcolor="e1629e">  <td>17/11/13 22:58:06</td>   <td>16968</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Unit3_Testcase.afterClass()[pri:0, instance:webdriver.Unit3_Testcase@50cbc42f]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1577213552</td>   <td></td> </tr>
</table>
